
@media only screen and (max-width: 768px) {
    
    #header-pg {
        flex-direction: column;
        padding-bottom: 0.5rem;
    }
    
    #searchbar-pg {
        order: 2;
        margin-top: 1rem;
    }
        
    #header-pg nav {
        margin: 1rem 0;
    }
}
