

@media only screen and (max-width: 768px) {
    
    #pg-header {
        flex-direction: column;
    }

    #pg-header nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    #section-cart {
        flex-direction: column;
    }
    #section-cart > article {
        order: -1;
    }
    
    
}
