.asideFilters {
  width: 20rem;
  height: 100vh;
  overflow-y: auto;
  border-right: solid thin var(--clr-off-primary);
}

.gridProducts {
  place-items: center;
  gap: 1rem;
}

.btnFilters {
  width: max-content;
  height: max-content;
}

.mainPrdlist {
  width: 100vw;
}

/* .card-dim:hover {
  cursor: pointer;
} */
