.gridAddresses {
  gap: 1rem;
  place-items: center;
}

.gridProfile {
  place-content: center;
  gap: 1rem;
}

.cardAddAddress {
  width: 15rem;
  height: 15rem;
}

.cardAddAddress:hover {
  cursor: pointer;
}

.cardAddress {
  width: 20rem;
  height: 15rem;
}
